---
import Logo from "@/components/Logo.astro";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";

const entry = (await getEntry("pages", "404")) as CollectionEntry<"pages">;
const { Content } = await render(entry);
---

<Base title={entry.data.title}>
  <section class="section m-0! p-0!">
    <div class="container">
      <div class="flex items-center justify-center min-h-screen">
        <div class="text-center">
          <!-- <Image
            src="/images/dogs.png"
            class="mb-12 inline max-w-[75%]"
            alt="dogs"
            height={400}
            width={400}
          /> -->
          <h1
            class="text-6xl font-bold mb-4"
            set:html={markdownify(entry.data.title)}
          />
          <Content />
        </div>
      </div>
    </div>
  </section>
</Base>
